{erl_opts, [debug_info]}.
{deps, []}.

{relx, [
  {release, {dgap, "0.1.0"}, [dgap, sasl, compiler]},
  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"}
]}.

{profiles, [
  {windows, [
    {relx, [
      {mode, prod},
      {extended_start_script_extensions, [{ignore, ""}, {ext, "extensions/ext"}]},
      {overlay, [{copy, "extensions/ext.cmd", "bin/extensions/ext.cmd"}]}
    ]}
  ]}
]}.
